/* Grid */
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 20px;
    padding: 20px;
}

.item{
    background-color: crimson;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    color: white;
}